In [1]:
# 1.1
for i in range(10):
    print('Hello python')

Hello python
Hello python
Hello python
Hello python
Hello python
Hello python
Hello python
Hello python
Hello python
Hello python

# 2.1

In [6]:
for i in range(1,11):
    print(i)

1
2
3
4
5
6
7
8
9
10

# 3.1

In [12]:
sum=0
for i in range(1,11):
    sum+=i
print('the sum of fist number is',sum)

the sum of fist number is 55

# 4.1

In [17]:
x=int(input('Enter the value'))
print("The list of n numbers from 1 to",x)
for i in range(1,n+1):
    print(i,end=' ')

Enter the value15
The list of n numbers from 1 to 15

# 5.1

In [20]:
num = int(input("Please enter the number: "))

sum = 0

for value in range(1, num + 1):
    sum = sum + value
    
print(sum)

Please enter the number: 10
55

In [22]:
for i in range(1,11):
    print(2*i)

2
4
6
8
10
12
14
16
18
20

# 7.1

In [24]:
n=int(input("enter the number for factorial.: "))
factorial = 1
for i in range(1,n+1):
    factorial *=i
print("The factorial of given number is. ",factorial)

enter the number for factorial.: 12
The factorial of given number is.  479001600

# 8.1

In [30]:
n =100
for i in range(2,n+1,2):
    print(i)

2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48
50
52
54
56
58
60
62
64
66
68
70
72
74
76
78
80
82
84
86
88
90
92
94
96
98
100

# 9.1

In [31]:
n =100
for i in range(1,n+1,2):
    print(i)

1
3
5
7
9
11
13
15
17
19
21
23
25
27
29
31
33
35
37
39
41
43
45
47
49
51
53
55
57
59
61
63
65
67
69
71
73
75
77
79
81
83
85
87
89
91
93
95
97
99

# 2.2

In [35]:
n=32
for i in range(1,n+1):
    if n%i==0:
        print('The factors are',i)

The factors are 1
The factors are 2
The factors are 4
The factors are 8
The factors are 16
The factors are 32

# 7.2

In [5]:
n = int(input('Enter the value'))
for i in range(1,n-1):
    reverse=i-1
    print('The reverse are',reverse)

Enter the value11
The reverse are 0
The reverse are 1
The reverse are 2
The reverse are 3
The reverse are 4
The reverse are 5
The reverse are 6
The reverse are 7
The reverse are 8

## 4.2

In [8]:
n = int(input('Enter the value'))
for i in range(1,n-1):
    reverse=i-1
    print('The reverse are',reverse)
    sum=n+reverse
    print('The sum of the numbers',sum)

Enter the value69
The reverse are 0
The sum of the numbers 69
The reverse are 1
The sum of the numbers 70
The reverse are 2
The sum of the numbers 71
The reverse are 3
The sum of the numbers 72
The reverse are 4
The sum of the numbers 73
The reverse are 5
The sum of the numbers 74
The reverse are 6
The sum of the numbers 75
The reverse are 7
The sum of the numbers 76
The reverse are 8
The sum of the numbers 77
The reverse are 9
The sum of the numbers 78
The reverse are 10
The sum of the numbers 79
The reverse are 11
The sum of the numbers 80
The reverse are 12
The sum of the numbers 81
The reverse are 13
The sum of the numbers 82
The reverse are 14
The sum of the numbers 83
The reverse are 15
The sum of the numbers 84
The reverse are 16
The sum of the numbers 85
The reverse are 17
The sum of the numbers 86
The reverse are 18
The sum of the numbers 87
The reverse are 19
The sum of the numbers 88
The reverse are 20
The sum of the numbers 89
The reverse are 21
The sum of the numbers 90
The reverse are 22
The sum of the numbers 91
The reverse are 23
The sum of the numbers 92
The reverse are 24
The sum of the numbers 93
The reverse are 25
The sum of the numbers 94
The reverse are 26
The sum of the numbers 95
The reverse are 27
The sum of the numbers 96
The reverse are 28
The sum of the numbers 97
The reverse are 29
The sum of the numbers 98
The reverse are 30
The sum of the numbers 99
The reverse are 31
The sum of the numbers 100
The reverse are 32
The sum of the numbers 101
The reverse are 33
The sum of the numbers 102
The reverse are 34
The sum of the numbers 103
The reverse are 35
The sum of the numbers 104
The reverse are 36
The sum of the numbers 105
The reverse are 37
The sum of the numbers 106
The reverse are 38
The sum of the numbers 107
The reverse are 39
The sum of the numbers 108
The reverse are 40
The sum of the numbers 109
The reverse are 41
The sum of the numbers 110
The reverse are 42
The sum of the numbers 111
The reverse are 43
The sum of the numbers 112
The reverse are 44
The sum of the numbers 113
The reverse are 45
The sum of the numbers 114
The reverse are 46
The sum of the numbers 115
The reverse are 47
The sum of the numbers 116
The reverse are 48
The sum of the numbers 117
The reverse are 49
The sum of the numbers 118
The reverse are 50
The sum of the numbers 119
The reverse are 51
The sum of the numbers 120
The reverse are 52
The sum of the numbers 121
The reverse are 53
The sum of the numbers 122
The reverse are 54
The sum of the numbers 123
The reverse are 55
The sum of the numbers 124
The reverse are 56
The sum of the numbers 125
The reverse are 57
The sum of the numbers 126
The reverse are 58
The sum of the numbers 127
The reverse are 59
The sum of the numbers 128
The reverse are 60
The sum of the numbers 129
The reverse are 61
The sum of the numbers 130
The reverse are 62
The sum of the numbers 131
The reverse are 63
The sum of the numbers 132
The reverse are 64
The sum of the numbers 133
The reverse are 65
The sum of the numbers 134
The reverse are 66
The sum of the numbers 135

#8.2

In [12]:
number = int(input("Enter a number"))

for i in range(1, number+1):
    cube = i**3  
    print('The cube of a number is',cube)

Enter a number4
The cube of a number is 1
The cube of a number is 8
The cube of a number is 27
The cube of a number is 64

# 1.3

In [1]:
number = int(input("Enter a number: "))
count = 0

while number != 0:
    number //= 10
    count += 1

print("The number of digits in the entered number is:", count)

Enter a number: 155
The number of digits in the entered number is: 3

### 2.3

In [3]:
n = int(input("Enter the number"))
a, b = 0, 1
for i in range(n):
    print(a, end=" ")
    a, b = b, a + b

Enter the number8
0 1 1 2 3 5 8 13

In [44]:
i=int(input('Enter the number'))
x=i
sum=0
while i<0:
    sum=sum+(i%10)*(i%10)*(i%10)
    i=i//10
if x==sum:
    print('It is a armstrong number')
else:
    print('It is not a armstrong number')

Enter the number8471
It is not a armstrong number

In [45]:
i=int(input('Enter the num'))
x=i
rev=0
while i>0:
    rev=(rev*10)+i%10
    i=i//10
if x==rev:
    print('It is a palindrome')
else:
    print('It is not a palindrome')

Enter the num161
It is a palindrome

# perfect number

# write a python program to find those numbers which are divisible by 7 and multiple of 5

In [5]:
x=int(input("Enter the lower range:"))
y=int(input("Enter the upper range:"))
for i in range (x,y+1):
    if(i%7==0 and i%5==0):
        print(i)

Enter the lower range:1000
Enter the upper range:2000
1015
1050
1085
1120
1155
1190
1225
1260
1295
1330
1365
1400
1435
1470
1505
1540
1575
1610
1645
1680
1715
1750
1785
1820
1855
1890
1925
1960
1995

# write a program to print the following number pattern

In [15]:
# b star

for i in range(1,6):
    for j in range(1,6):
        if  j>=1:
            print('*', end=' ')
        else:
            print(' ',end=' ')
    print()

* * * * *
* * * * *
* * * * *
* * * * *
* * * * *

In [5]:
n=5
for i in range(n):
    for j in range(n):
        print('*',end=' ')
    print()

* * * * *
* * * * *
* * * * *
* * * * *
* * * * *

In [16]:
# a

for i in range(1,6):
    for j in range(1,6):
        if j<=1:
            print('*', end='')
        else:
            print(' ', end='')
    print()

*
*
*
*
*

# c

In [37]:
n=int(input('Enter the num'))
for i in range(n,0,-1):
    for j in range(1,i+1):
        print('*',end='')
    print()

Enter the num5
*****
****
***
**
*

# e

In [15]:
n=5
for i in range(n):
    for j in range(i,n):
        print('',end= ' ')    #Decreasing space
    for j in range(i+1):
        print('*',end='')     #Increasing star
    print()

     *
    **
   ***
  ****
 *****

# d

In [18]:
n=5
for i in range(n):
    for j in range(i+1):
        print('',end= ' ')    #increasing space
    for j in range(i,n):
        print('*',end='')     #decreasing star
    print()

 *****
  ****
   ***
    **
     *

# a   Number

In [27]:
n=int(input('Enter the value'))
for i in range(1,n+1):
    for j in range(1,i+1):
        print(j,end=' ')
    print()

Enter the value5
1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

In [28]:
n=5
s=5
for i in range(n):
    for j in range(i+1):
        print(j,end=' ')
        s-=1
    print()

0
0 1
0 1 2
0 1 2 3
0 1 2 3 4

In [22]:
n=int(input('Enter the value'))
s=1
for i in range(n):
    for j in range(i):
        print(s,end=' ')
        s+=1
    print()

Enter the value5

1
2 3
4 5 6
7 8 9 10

# b

In [29]:
n=int(input('Enter the value'))
for i in range(1,n+1):
    for j in range(1,i+1):
        print(i,end=' ')
    print()

Enter the value5
1
2 2
3 3 3
4 4 4 4
5 5 5 5 5

# d

In [36]:
n=5
for i in range(n,0,-1):
    for j in range(1,i+1):
        print(j,end=' ')
    print()

1 2 3 4 5
1 2 3 4
1 2 3
1 2
1

In [38]:
n=5
for i in range(n,0,-1):
    for j in range(1,i+1):
        print(i,end=' ')
    print()

5 5 5 5 5
4 4 4 4
3 3 3
2 2
1

# e

In [42]:
n=5
for i in range(n,0,-1):
    for j in range(i,0,-1):
        print(j,end=' ')
    print()

5 4 3 2 1
4 3 2 1
3 2 1
2 1
1

In [47]:
n=int(input('Enter the value'))
for i in range(n,0,-1):
    for j in range(i,0,-1):
        print(j,end=' ')
    print()

Enter the value5
5 4 3 2 1
4 3 2 1
3 2 1
2 1
1

# b alphabet

In [1]:
n=int(input('Enter the value'))
for i in range(n):
    for j in range(i+1):
        print(chr(65+i) ,end=' ')
    print()

Enter the value5
A
B B
C C C
D D D D
E E E E E

In [3]:
n=int(input('Enter the value'))
for i in range(n):
    for j in range(i-1):
        print(chr(65+i) ,end=' ')
    print()

Enter the value5


C
D D
E E E

In [8]:
n=int(input('Enter the value'))
for i in range(1,n+1):
    for j in range(1,i+1):
        print(chr(65+i),end=' ')
    print()

Enter the value5
B
C C
D D D
E E E E
F F F F F

In [18]:
n=5
for i in range(n,0,-1):
    for j in range(i+1):
        print(chr(65+i),end=' ')
    print()

F F F F F F
E E E E E
D D D D
C C C
B B

# a

In [26]:
n=int(input('Enter the value'))
for i in range(n):
    for j in range(i+1):
        print(chr(65+j), end=' ')
    print()

Enter the value5
A
A B
A B C
A B C D
A B C D E

# c

In [36]:
n=int(input('Enter the value'))
for i in range(n,0,-1):
    for j in range(1,i+1):
        print(chr(64+j), end=' ')
    print()

Enter the value5
A B C D E
A B C D
A B C
A B
A

# d

In [42]:
n=5
for i in range(n,0,-1):
    for j in range(1,i+1):
        print(chr(64+i),end=' ')
    print()

E E E E E
D D D D
C C C
B B
A