In [1]:
# 1.Grading system
score=int(input('Enter the Marks'))
if score<=25:
    print('F')
elif score>=25 and score<=45:
    print('E')
elif score>=46 and score<=50:
    print('D')
elif score>=50 and score<=60:
    print('C')
elif score>=60 and score<=80:
    print('B')
else:
    print('A')

Enter the Marks100
A

# 3.Input of age of people

In [1]:
age=int(input('Enter your age of first peson'))
if age>=0:
    print('Oldest')
else:
    print('yougest')

Enter your age of first peson15
Oldest

In [2]:
age=int(input('Enter your age of second person'))
if age>=0:
    print('Oldest')
else:
    print('yougest')

Enter your age of second person22
Oldest

In [3]:
age=int(input('Enter your age of third person'))
if age>=0:
    print('Oldest')
else:
    print('yougest')

Enter your age of third person25
Oldest

## 2 Length and breadth of a rectangle

In [6]:
length=int(input('Enter the length'))
breadth=int(input('Enter the breadth'))
if length==breadth:
    print('It is square')
else:
    print('It is not square')

Enter the length15
Enter the breadth25
It is not square

# 1..Salary

In [5]:
salary=int(input('Enter your salary'))
year=int(input('Enter the years of service'))
if year>5:
    print('There is a bonus amount')
else:
    print('There is no bonus amount')

Enter your salary5
Enter the years of service5
There is no bonus amount

# 1.Respective month

In [7]:
num=int(input('Enter the month name'))
if num==1:
    print('This is January')
elif num==2:
    print('This is february')
elif num==3:
    print('This is march')
elif num==4:
    print('This is april')
elif num==5:
    print('This is may')
elif num==6:
    print('This is june')
elif num==7:
    print('This is july')
elif num==8:
    print('This is august')
elif num==9:
    print('This is september')
elif num==10:
    print('This is october')
elif num==11:
    print('This is november')
elif num==12:
    print('This is december')
else:
    print('None')

Enter the month name11
This is november

## 2.Arithmetic operator

In [15]:
num1=int(input('Enter the first num'))
num2=int(input('Enter the second num'))
add=num1+num2
print('Addition',add)

Enter the first num10
Enter the second num15
Addition 25

In [16]:
num1=int(input('Enter the first num'))
num2=int(input('Enter the second num'))
sub=num1-num2
print('Subtraction',sub)

Enter the first num15
Enter the second num10
Subtraction 5

In [17]:
num1=int(input('Enter the first num'))
num2=int(input('Enter the second num'))
mul=num1*num2
print('Multiplication',mul)

Enter the first num10
Enter the second num15
Multiplication 150

In [18]:
num1=int(input('Enter the first num'))
num2=int(input('Enter the second num'))
div=num1/num2
print('Division',div)

Enter the first num100
Enter the second num25
Division 4.0

O.3 temperature not done

## 1.Enter two numbers and print the greatest

In [4]:
num1=int(input('Enter the first number'))
num2=int(input('Enter the second number'))
if num1>=num2:
    print('The greatest number')
elif num1<=num2:
    print('The lowest number')
else:
    print('None')

Enter the first number25
Enter the second number10
The greatest number

# 2.Enter two numbers and print the smallest

In [3]:
num1=int(input('Enter the first number'))
num2=int(input('Enter the second number'))
if num1>=num2:
    print('The highest number')
elif num1<=num2:
    print('The smallest number')
else:
    print('None')

Enter the first number49
Enter the second number55
The smallest number

# Enter three numbers and print the greatest

In [5]:
num1=int(input('Enter the first number'))
num2=int(input('Enter the second number'))
num3=int(input('Enter the third number'))
if num1>=num2:
    print('The greatest number')
elif num1<=num2:
    print('The lowest number')
elif num2>=num3:
    print('The greatest number')
elif num2<=num3:
    print('The lowest number')
else:
    print('None')

Enter the first number39
Enter the second number25
Enter the third number14
The greatest number

# Enter three number and print the smallest

In [7]:
num1=int(input('Enter the first number'))
num2=int(input('Enter the second number'))
num3=int(input('Enter the third number'))
if num1>=num2:
    print('The highest number')
elif num1<=num2:
    print('The smallest number')
elif num2>=num3:
    print('The highest number')
elif num2<=num3:
    print('The smallest number')
else:
    print('None')

Enter the first number47
Enter the second number58
Enter the third number69
The smallest number

# 5. Quadratic Equation

In [1]:
x=int(input('Enter first num'))
y=int(input('Enter second num'))
z=int(input('Enter third num'))
a=5
b=2
c=4
d=b**2-4*a*c

q1=-b+sqrt(d)/2*a
q2=-b-sqrt(d)/2*a

Enter first num5
Enter second num2
Enter third num4

NameError: name 'sqrt' is not defined

# 6.Respective days of the week

In [2]:
w=int(input('Enter the respective day of the week'))
if w>=1:
    print('Monday')
elif w==2:
    print('Tuesday')
elif w==3:
    print('Wednesday')
elif w==4:
    print('Thursday')
elif w==5:
    print('Friday')
elif w==6:
    print('Saturday')
else:
    print('Sunday')

Enter the respective day of the week0
Sunday

# 1 . Swap two numbers

In [3]:
num1 = int(input("Enter num1:"))
num2 = int(input("Enter num2:"))

print("The value of num1 before swap:",num1)
print("The value of num2 before swap:",num2)

temp = num1
num1 = num2
num2 = temp

print("The value of num1 after swap:",num1)
print("The value of num2 after swap:",num2)

Enter num1:10
Enter num2:12
The value of num1 before swap: 10
The value of num2 before swap: 12
The value of num1 after swap: 12
The value of num2 after swap: 10

# 2.Swap two numbers without third variable

In [4]:
num1=int(input("Enter number"))
num2=int(input("Enter number"))
print("The value of num1 before swap:",num1)
print("The value of num2 before swap:",num2)

temp = num1+num2
num1 = num2+temp
num2 = temp+num1

print("The value of num1 after swap:",num1)
print("The value of num2 after swap:",num2)

Enter number12
Enter number14
The value of num1 before swap: 12
The value of num2 before swap: 14
The value of num1 after swap: 40
The value of num2 after swap: 66

### 3.s.i

In [8]:
p=int(input('Enter the first num'))
r=int(input('Enter the second num'))
t=int(input('Enter the third num'))
si=p*r*t/100
print('Simple Interest',si)

Enter the first num100
Enter the second num10
Enter the third num2
Simple Interest 20.0

# 4.avg. of five numbers

In [10]:
num1=int(input('Enter the first num'))
num2=int(input('Enter the second num'))
num3=int(input('Enter the third num'))
num4=int(input('Enter the fourth num'))
num5=int(input('Enter the fifth num'))
avg=num1+num2+num3+num3+num4+num5/5
print('The average of five numbers',avg)

Enter the first num5
Enter the second num10
Enter the third num15
Enter the fourth num20
Enter the fifth num25
The average of five numbers 70.0

# 5.Discriminant of quadratic equation

In [12]:
x=int(input('Enter the num'))
y=int(input('Enter the num'))
z=int(input('Enter the num'))
a=15
b=2
c=10
d=b**2+4*a*c
print('Discriminant of quadratic equation',d)

Enter the num15
Enter the num2
Enter the num10
Discriminant of quadratic equation 604

### 2. Arithmetic operator

In [1]:
num1=int(input('Enter the first num'))
num2=int(input('Enter the second num'))
add=num1+num2
print('The addition is', add)

Enter the first num10
Enter the second num15
The addition is 25

In [3]:
num1=int(input('Enter the first num'))
num2=int(input('Enter the second num'))
sub=num1-num2
print('The subtraction is',sub)

Enter the first num15
Enter the second num10
The subtraction is 5

In [4]:
num1=int(input('Enter the first num'))
num2=int(input('Enter the second num'))
mul=num1*num2
print('The multiplication is', mul)

Enter the first num10
Enter the second num15
The multiplication is 150

In [5]:
num1=int(input('Enter the first num'))
num2=int(input('Enter the second num'))
div=num1/num2
print('The division is',div)

Enter the first num100
Enter the second num10
The division is 10.0

In [6]:
num1=int(input('Enter the first num'))
num2=int(input('Enter the second num'))
mod=num1%num2
print('The modulus is',mod)

Enter the first num100
Enter the second num9
The modulus is 1

In [7]:
num1=int(input('Enter the first num'))
num2=int(input('Enter the second num'))
exp=num1**num2
print('The exponent is',exp)

Enter the first num10
Enter the second num11
The exponent is 100000000000

# 1.introduction

In [10]:
name=input('Enter your name')
age=input('Enter your age')
address=input('Enter your address')
print('Your details are',name,age,address,sep="\n")

Enter your nameSayon dey
Enter your age22
Enter your addresskolkata, west bengal
Your details are
Sayon dey
22
kolkata, west bengal

# 3.Power of a number

In [1]:
num1=int(input('Enter your number'))
num2=int(input('Enter your number'))
exp=num1**num2
print('Power of a number',exp)

Enter your number10
Enter your number2
Power of a number 100

#### 4.Python_Version

In [5]:
from platform import python_version
ver=python_version()
print('The python version is',ver)

The python version is 3.9.13

# 1.Shapes

In [6]:
length=int(input('Enter your length'))
breadth=int(input('Enter your breadth'))
area=length*breadth
print('Area of a rectangle',area)

Enter your length25
Enter your breadth50
Area of a rectangle 1250

In [7]:
num1=int(input('Enter your num'))
Area=num1**2
print('area of a square',Area)

Enter your num75
area of a square 5625

In [8]:
base=int(input('Enter your base'))
heigth=int(input('Enter your heigth'))
area=1/2*base*heigth
print('Area of triangle',area)

Enter your base13
Enter your heigth17
Area of triangle 110.5

In [11]:
radius=float(input('Enter your radius'))
pi=3.14
area=pi*radius**2
print('Enter your area',area)

Enter your radius7
Enter your area 153.86

# 2.Basic Salary

In [1]:
salary=int(input('Enter your basic salary'))
a=5/100*salary
print('enter your dearness allowance',a)
b=7/100*salary
print('enter your human resource allowance',b)
c=3/100*salary
print('enter your provident fund',c)

Enter your basic salary15500
enter your dearness allowance 775.0
enter your human resource allowance 1085.0
enter your provident fund 465.0